.App {
  width:100%;
  height:100vh;
}
* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.Sidebar{
  height:100%;
  width:250px;
  background-color:#2d455d;
}
/* This rule applies styles to the <ul> element with the class name "SidebarList". It sets the height to "auto", removes any padding, and sets the width to 100%. */
.SidebarList{
  height:auto;
  padding:0;
  width: 100%;
}
.SidebarList #active{
  background-color: #3b627a;
}

.SidebarList .row{
  height:60px;
  width: 100%;
  display:flex;
  color:white;
  justify-content:center;
  align-items:center
}

.SidebarList .row:hover{
  cursor: pointer;
  background-color:#3b627a;
}

.row #icon{
 flex:30%;
 display:grid;
 place-items: center;
}
.row #title{
  flex:70%;
}

.SidebarIcon{
  padding-top: 20px;
  padding-bottom: 15px;
  text-align:center;
}
.SidebarIcon img{
  width:100px;
}
.SidebarIcon p{
  color:white;
  font-weight:600;
  font-size:13px;
}